body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea {
    background: #E5E9F0;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: #E5E9F0;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid #E5E9F0;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
    max-width: 10em;
  }
  
  .past {
    background-color: #D8DEE9;
    color: #4C566A;
  }
  
  .present {
    background-color: #ff6961;
    color: black;
  }
  
  .future {
    background-color: #77dd77;
    color: black;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #88C0D0;
    color: white;
    max-width: 10em;
  }

  #saveBtn {
  padding: 15px 65px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #5E81AC;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  }
  
  #saveBtn:hover {
    background-color: #81A1C1;
  }

  #saveBtn:active {
    background-color: #81A1C1;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .saveBtn i:hover {
    font-size: 50px;
    transition: all 0.2s ease-in-out;
  }

  .saveIcon {
    width: 50px;
    height: 50px;
  }
